<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1021118934579-njtga3f33gl6vp3ahvhmnljriqshgs6o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1021118934579-njtga3f33gl6vp3ahvhmnljriqshgs6o</string>
	<key>API_KEY</key>
	<string>AIzaSyBpFp5A7Cm4_SflRPblsLFd9RjPlAhc0VQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1021118934579</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.expensebuddy</string>
	<key>PROJECT_ID</key>
	<string>expencebuddy</string>
	<key>STORAGE_BUCKET</key>
	<string>expencebuddy.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1021118934579:ios:a898c978f7f49a42803d46</string>
</dict>
</plist>